<!-- app/views/questions/ask.html.erb -->
<div class="m-3 w-100%">
  <h2>Stupid Coaching</h2>
  <p>Ask something to your coach</p>
    <form action="/answer" method="get" class="input-group mb-3">
      <input type="text" name="question" placeholder="Question to ask the Coach" class="form-control">
      <div class="input-group-append">
        <input type="submit" value="Ask!" class="btn btn-primary" class="form-group mb-2">
      </div>
    </form>
</div>



<%# console %>
